Documentation/ApiDocs/**
.npmrc
node_modules.meta
node_modules
npm-debug.log
npm-debug.log.meta
.DS_Store
.idea
.yamato/expectations/*

/projects/**/.idea
/projects/**/.vs
/projects/**/Builds
/projects/**/Library
/projects/**/Logs
/projects/**/obj
/projects/**/Tests_ProRes
/projects/**/Temp
*.csproj
*.sln
!Tools/**/*sln
!Tools/**/*csproj
bin
obj