Documentation/ApiDocs/**
.npmrc
node_modules.meta
node_modules
npm-debug.log
npm-debug.log.meta
.DS_Store
.idea
.yamato/expectations/*

/Projects/**/.idea
/Projects/**/.vs
/Projects/**/Builds
/Projects/**/Library
/Projects/**/Logs
/Projects/**/obj
/Projects/**/Tests_ProRes
/Projects/**/Temp
*.csproj
*.sln
!Tools/**/*sln
!Tools/**/*csproj
bin
obj
Tools/**/bin
Tools/**/obj
Tools/**/.vs
