Documentation/ApiDocs/**
.npmrc
.npmignore
.gitignore
QAReport.md
QAReport.md.meta
LICENSE
LICENSE.meta
npm-debug.log
npm-debug.log.meta
node_modules.meta
node_modules/**

upm-ci~/**
.Editor/**
.yamato/**
*.zip*
TestRunnerOptions.json
.idea/**
upm-ci.log