**Cinemachine 2.6.2 Testing Report**

- The focus of this testing was mainly to ensure that the following bugfixes were tested and verified:

	-  https://fogbugz.unity3d.com/f/cases/1272146/
	- Regression fix: Memory leak caused by integration with old post-process package
	
