**Cinemachine 2.6.3 Testing Report**

- The focus of this testing was mainly to ensure that the following bugfixes were tested and verified:

	-  https://fogbugz.unity3d.com/f/cases/1274989/ (regression fix)
	-  https://fogbugz.unity3d.com/f/cases/1276391/
	-  https://fogbugz.unity3d.com/f/cases/1276343/
	

Testing was done around Cinemachine BlendListCamera.


