* {
    -unity-font-style: bold;
}

Box {
    background-color: rgba(196, 196, 196, 0.5);
}

.dynamicButton {
    background-color: rgba(196, 196, 196, 1);
    align-self: flex-start;
}

.dynamicToggle {
    flex-direction: row-reverse;
    align-self: flex-start;
}

.helpToggle {
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    max-width: 80px;
    -unity-text-align: upper-right;
}

#CloseButton {
    
}